.form-instruction {
    font-size: 16px;
}

.form-question {
    font-size: 16px;
}

.bold-emphasize {
    font-weight: bolder;
}

.list-likert {
    margin-bottom: 10px !important;
}

.input-short-text {
    width: 200px !important;
}

.list-labels .item div .checkbox {
    margin: auto;
}

.disabled.input {
    background: #e6e6e6 !important;
}

.ui.checkbox {
    display: block !important;
}

.checkbox-expression {
    padding: 5px 0;
    font-size: 16px !important;
    font-weight: 450;
}

.margin-small {
    margin-top: 4px;
    margin-bottom: 4px;
}